<form *ngIf="form" [formGroup]="form" id="form">
  <div formArrayName="items">
    <div *ngFor="let group of groupData(); let i = index">
      <div [formGroup]="group">
        
        <select (change)="somethingHappened($event.target.value)" formControlName="Month" name="Month" value="">
          <option selected disabled  value="">Select Date</option>
          <option value="">January</option>
          <option value="">February</option>
        </select>


        <input formControlName="Day" name="Day" type="text">

        <input formControlName="Year" name="Year" type="text">
      </div>
    </div>
  </div>
</form>